body {

}
header h1 {
    display: flex;
    justify-content: center;
}
header nav ul {
    display: flex;
    justify-content: space-around;
}
header h2 {
    display: flex;
    justify-content: center;
    font-size: large;
    margin-block: unset;
    font-weight: bold;
    font-family: monospace;
    background: black;
    color: white;
}
header h1 {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
    margin: initial;
    font-family: sans-serif;
    font-weight: 1000;
    background: white;
}
header nav ul {
    display: flex;
    justify-content: space-around;
    margin-block: initial;
    background: black;
    color: black;
}
ul a {
    color: white;
    font-family: monospace;
    font-size:large;
    font-weight: bold;
}
main{
    text-align: center;
}
.carrusel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 100%;
}
.carrusel-item {
    min-width: 100%;
    scroll-snap-align: start;
}
img {
    width: 100%;
    display: block;
}
